app-schema/src/main/resources/base/complextype.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:st="http://app.org/schemas/base/simpletype/v10" targetNamespace="http://app.org/schemas/base/complextype/v10" xmlns:tns="http://app.org/schemas/base/complextype/v10"
	elementFormDefault="qualified">
	<xs:import namespace="http://app.org/schemas/base/simpletype/v10" schemaLocation="simpletype.xsd" />
	<xs:complexType name="Result">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="code" type="st:ResultCode"/>
			<xs:element maxOccurs="1" minOccurs="1" name="message" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
